{
  "presets": ["next/babel"],
  "plugins": [
    "transform-typescript-metadata",
    ["styled-components", { "ssr": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
